extends layout

block content
	h1= title
	p Welcome to #[em Banner], a very basic Express website developed following the tutorial example on the MOzilla Developer Network.


	h1 Dynamic Content

	if error
		p Error getting dynamic content.
	else

		p The School has the following record counts:

		ul
			li #[strong Professors:] !{data.professor_count}
			li #[strong Courses:] !{data.course_count}
			li #[strong Sections:] !{data.section_count}