extends layout

block content
	h1= title

	ul
	each professor in professor_list
		li
			a(href=professor.url) #{professor.name}
			br 
			| Office: #{professor.office}

	else
		li There are no authors.